version: '3'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - /app/dist
      - /app/node_modules
    environment:
      - NODE_ENV=test
      - PORT=3000
      - JWT_SECRET=U68kT5rUQuVEKqDMqzbd
    ports:
      - '9080:3000'
    command: npm run test:e2e:watch
